@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #ffffff;
  /* color:#282c3f; */
}
*{
  margin:0;
  padding:0;
}
nav {
  width: 100%;
  height: 80px;
  box-shadow:0 4px 12px 0 rgb(0 0 0/5%);
}
.nav-container {
  width: 1250px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  
}
.nav-list ul {
  display: flex;
  list-style: none;
  margin-left:50px;
   /* gap: 5px;  */
}
.nav-list-item {
  list-style: none;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #282c3f;
}
.nav-search {
  width: 520px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #f5f5f6;
  margin-left: 90px;
  /* justify-content:center ; */
}
.nav-search svg {
  width: 19px;
  background-color: #f5f5f6;
  margin: 0 10px;
  font-size: 2px;
}
.nav-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #f5f5f6;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}

.nav-actions ul {
  list-style: none;
  display: flex;
  margin-left:40px; 
  gap: 40px;
}
.nav-actions ul li svg {
  width: 24px;
  height: 24px;
}
.nav-actions ul li {
  font-size: 12px;
  font-weight: 500px;
  height: 40px;
  gap:4px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.header-container{
  width:1250px;
  margin:0 auto;
   margin-top:30px;  
}
.header-container img{
  width:100%;
   /* margin-top:30px;  */
}
.deal-container{
  margin-top:4px;
  width:100%;
}
.deal-container img{
  width:100%;
}
.deal-section{
   margin:50px 0 10px 60px;
}

.deal-section-heading{
  font-size:1.8em;
  letter-spacing: .13em;
}